@if(result|| text){
<mat-card class="example-card w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  appearance="outlined" *ngFor="let res of result" (click)="openPackageDialog(result, $event)">
  <mat-card-header>
    <mat-card-title>{{res.strDrink}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{res.strDrinkThumb}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{res.strInstructions}}
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="m-2 px-4 py-3
             bg-red-500 border-r-2 hover:bg-green-600
             text-600 text-lg sm:text-xl md:text-2xl font-semibold
             border-4 border-green-700
             rounded-lg shadow-2xl transition" (click)="bookNow(result,'0','0'); $event.stopPropagation()">
      Order Now
    </button>

    <button mat-button class="bg-blue-500 m-2 p-4" (click)="openPackageDialog(result, $event)">See Packages</button>
  </mat-card-actions>
</mat-card>

}
@else{
<h4>Something went wrong</h4>
}
