<div>

  <section
    class="hero relative h-screen flex items-center justify-center overflow-hidden bg-gradient-to-r from-purple-600 via-pink-500 to-yellow-400">
    <!-- Floating shapes -->
    <div class="absolute top-0 left-0 w-72 h-72 bg-pink-300/30 rounded-full filter blur-3xl animate-blob"></div>
    <div
      class="absolute bottom-0 right-0 w-96 h-96 bg-yellow-300/30 rounded-full filter blur-3xl animate-blob animation-delay-2000">
    </div>

    <!-- Overlay content -->
    <div class="relative z-10 flex flex-col items-center justify-center text-center px-4 sm:px-6 lg:px-8">
      <!-- Animated Gradient Heading -->
      <h1
        class="text-4xl sm:text-5xl lg:text-6xl bg-yellow-300 text-black bg-clip-text bg-gradient-to-r from-red-400 via-yellow-300 to-green-300 animate-gradient-x mb-6">
        GuideBuddy
      </h1>

      <!-- Glassmorphic Search -->
      <div
        class="search-container flex flex-col sm:flex-row items-center gap-4 w-full max-w-xl backdrop-blur-lg bg-white/30 rounded-3xl p-4 shadow-lg animate-slideInUp">
        <input type="text" [(ngModel)]="image" placeholder="Search your destination..." aria-label="Search input"
          class="flex-1 px-4 py-3 rounded-2xl border border-30 text-black placeholder-gray-700 focus:outline-none focus:ring-4 focus:ring-black-400 transition-all duration-300" />
        <button (click)="searchImageByName(image)"
          class="bg-gradient-to-r from-black to-red-500 text-white px-6 py-3 rounded-lg shadow-xl font-semibold
                           hover:scale-105 transition-transform duration-300 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2">
          Search Now
        </button>
      </div>
    </div>
  </section>



  <div>
    <app-search-image-poster [imagePosterList]="imageData" />
    <button class="text-red-500 m-4 bg-yellow-400" *ngIf="imageData" (click)="resetList()">Back</button>
  </div>

  <section class="services">
    <h2 class="text-xl">Our Service</h2>
    <div class="service-list">
      <div class="service">
        <h3>Ticket Booking</h3>
      </div>
      <div class="service">
        <h3>Hotel Booking</h3>
      </div>
      <div class="service">
        <h3>Tour Plan</h3>
      </div>
      <div class="service">
        <h3>Locate Nearest Places</h3>
      </div>
    </div>
  </section>
</div>
<app-poster />
<app-map-sri-lanka />
<app-card-poster [cardList]="cardsList" />
<app-bookatrip-poster />
<app-subsriber-poster />
