<header class="flex items-center  gap-4 border-2 border-solid sticky transition-all
duration-300 bg-[var(background-color)] shadow rounded z-50">
  <nav>
    <div class="text-lg m-8">GuideBuddy</div>
    <ul *ngIf="isShow">
      <li><a routerLink="customersDashboard">
          <div class="text-lg">Customers Dashboard</div>
        </a></li>
      <li><a routerLink="customerform" class="text-lg">
          <div class="text-lg">Customer Registeration</div>
        </a></li>
    </ul>
  </nav>
  <ul class="flex space-x-4" *ngIf="isShow">
    <li>
      <a routerLink="login" (click)="logOut()"
        class="register bg-blue-300 m-4 p-2 rounded hover:bg-blue-400 transition duration-300">
        @if (isLoginLabel()) {
        LogOut
        }@else {
        LogIn
        }
      </a>
    </li>
    <li>
      <app-theme-toggle />
    </li>
  </ul>
</header>