    <header>
        <nav>
            <div class="text-black text-lg">GuideBuddy</div>
            <ul>
                <li><a routerLink="customersDashboard">Customers Dashboard</a></li>
                <li><a href="customerform">Customer Registeration</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>
               
            </ul>
        </nav>
        <ul class="flex space-x-4">
            <li>
                <a 
                  routerLink="/login" 
                  routerLinkActive="/login"
                  class="register bg-blue-300 m-4 p-2 rounded hover:bg-blue-400 transition duration-300"
                >
                  Login
                </a>
              </li>
            <li>
                <a 
                  routerLink="/register" 
                  class="register bg-blue-300 m-4 p-2 rounded hover:bg-blue-400 transition duration-300"
                >
                  Register
                </a>
              </li>
        </ul>
    </header>

   

